@page "/users/edit/{userName?}"
@attribute [Authorize(Policy = Policies.CanManageUsers)]

@if (user != null)
{
    <MudText Typo="Typo.h4">Edit Details</MudText>
    <br />
    <MudPaper Elevation="4">
        <EditForm Model="@user" OnValidSubmit="UpdateUserDetails">
            <DataAnnotationsValidator />
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="User Name" Disabled="true"
                                  @bind-Value="user.UserName" For="@(() => user.UserName)" />
                    <MudTextField Label="Email" Class="mt-3" Disabled="true"
                                  @bind-Value="user.Email" For="@(() => user.Email)" />
                    <MudTextField Label="Phone Number" Class="mt-3" Disabled="true"
                                  @bind-Value="user.PhoneNumber" For="@(() => user.PhoneNumber)" />
                    <br />

                    <MudSwitch @bind-Checked="user.EmailConfirmed" Label="Email Confirmed" Color="Color.Success" Disabled="true" />
                    <MudSwitch @bind-Checked="user.PhoneNumberConfirmed" Label="Phone Number Confirmed" Color="Color.Success" Disabled="true" />
                    <MudSwitch @bind-Checked="user.TwoFactorEnabled" Label="Two Factor Enabled" Color="Color.Success" />
                    <MudSwitch @bind-Checked="user.LockoutEnabled" Label="Lock Out Enabled" Color="Color.Success" />


                    <MudTextField Label="Access Failed Count" Class="mt-3" Disabled="true"
                                  @bind-Value="user.AccessFailedCount" For="@(() => user.AccessFailedCount)" />

                    <MudGrid>
                        <MudItem xs="8" sm="4" md="2" Class="mt-6">
                            <MudText Typo="Typo.h6">Lockout End</MudText>
                        </MudItem>
                        <MudItem xs="8" sm="4" md="2">
                            <MudDatePicker @bind-Date="@lockoutEndDate" Editable="true" />
                        </MudItem>
                        <MudItem xs="8" sm="4" md="2">
                            <MudTimePicker AmPm="true" @bind-Time="lockoutOffset" />
                        </MudItem>
                    </MudGrid>

                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Update</MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </MudPaper>
    <br />
    <br />   
    <div class="d-flex flex-wrap">
        <MudText Typo="Typo.h4">Manage Roles</MudText>
        <MudIconButton Icon="@Icons.Material.Outlined.AddCircleOutline" Size="Size.Medium"
                       @onclick="AddRoleAsync" Color="Color.Primary"></MudIconButton>
    </div>
    <br />
    
    <MudPaper Elevation="4" Class="px-4 py-2">
        <EditableCollection TItem="UserRoleViewModel" TValue="string" ItemSize="2"
                            OnDeleteItem="@DeleteRoleAsync" OnAddNewItem="AddRoleAsync"
                            Items="(user.UserRoles ?? Enumerable.Empty<UserRoleViewModel>())" NewItem="@string.Empty">
            <ItemTemplate Context="item">
                <MudText Typo="Typo.h6">@item.RoleName</MudText>
            </ItemTemplate>            
        </EditableCollection>
    </MudPaper>

}

