@page "/users/edit/{userId?}"
@attribute [Authorize(Policy = Policies.CanManageUsers)]

<MudText Typo="Typo.h4">Edit User</MudText>
<br />

@if (hasErrors)
{
    <MudAlert Severity="Severity.Error">User details could not be retrieved for userId : @(userId ?? string.Empty).</MudAlert>
}

@if (user != null)
{

    @if (user.IsLockedOut)
    {

        <div role="alert" class="mud-alert mud-alert-outlined-warning mud-square mud-elevation-2">
            <MudGrid Justify="Justify.FlexEnd">
                <MudItem>
                    <div class="mud-alert-icon mud-alert-icon-left">
                        <svg class="mud-icon-root mud-svg-icon mud-inherit-text mud-icon-size-medium" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                            <path d="M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z">
                            </path>
                        </svg>
                    </div>
                </MudItem>
                <MudItem xs="10" Class="d-flex align-center">
                    User account is temporarily locked out until @user.LockoutEnd.GetValueOrDefault().ToString()
                </MudItem>
                <MudSpacer />
                <MudItem xs="1">
                    <MudButton Variant="Variant.Filled" Color="Color.Warning"
                       @onclick="UnlockUserAccountAsync">Unlock</MudButton>
                </MudItem>
            </MudGrid>
        </div>
    }

    <br />

    <MudPaper Elevation="4">
        <EditForm Model="@user" OnValidSubmit="UpdateUserDetails">
            <DataAnnotationsValidator />
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="User Name" @bind-Value="user.UserName" For="@(() => user.UserName)" Disabled="true" />
                    <MudTextField Label="Email" Class="mt-3" @bind-Value="user.Email" For="@(() => user.Email)" />
                    <MudTextField Label="Phone Number" Class="mt-3" @bind-Value="user.PhoneNumber" For="@(() => user.PhoneNumber)" />
                    <br />

                    <MudSwitch @bind-Value="user.EmailConfirmed" Label="Email Confirmed" Color="Color.Success" Disabled="true" />
                    <MudSwitch @bind-Value="user.PhoneNumberConfirmed" Label="Phone Number Confirmed" Color="Color.Success" Disabled="true" />
                    <MudSwitch @bind-Value="user.TwoFactorEnabled" Label="Two Factor Enabled" Color="Color.Success" Disabled="true" />
                    <MudSwitch @bind-Value="user.LockoutEnabled" Label="Lock Out Enabled" Color="Color.Success" />

                </MudCardContent>
                <MudCardActions>
                    <MudGrid Justify="Justify.FlexEnd">
                        @if (!user.IsLockedOut)
                        {
                            <MudItem xs="2" Class="auto-flex-basis">
                                <MudButton Variant="Variant.Filled" Color="Color.Warning" @onclick="LockUserAccountAsync">Lock (90 days)</MudButton>
                            </MudItem>
                        }
                        <MudItem xs="1">
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Update</MudButton>
                        </MudItem>
                    </MudGrid>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </MudPaper>

    <br />

    <MudCard UserAttributes="@(new (){{"id","rolesCollection"}})" Elevation="4">
        <MudCardHeader Class="pb-0">
            <CardHeaderContent>
                <div class="d-flex flex-wrap">
                    <MudText Typo="Typo.h6" Class="mt-2">Roles</MudText>
                    <MudIconButton UserAttributes="@(new (){{"id","btnAddRole"}})" Icon="@Icons.Material.Outlined.AddCircleOutline" Size="Size.Medium"
                               @onclick="AddRoleAsync" Color="Color.Primary"></MudIconButton>
                </div>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent Class="pt-1">
            <EditableCollection TItem="UserRoleViewModel" TValue="string" ItemSize="2"
                            OnDeleteItem="@DeleteRoleAsync" OnAddNewItem="AddRoleAsync"
                            Items="(user.UserRoles ?? Enumerable.Empty<UserRoleViewModel>())" NewItem="@string.Empty">
                <ItemTemplate Context="item">
                    <MudText Color="Color.Info" Typo="Typo.subtitle1" Class="ml-1">@item.RoleName</MudText>
                </ItemTemplate>
            </EditableCollection>
        </MudCardContent>
    </MudCard>

    <br />

    <ClaimsManager Claims="user.UserClaims" OnAddItem="AddClaimAsync"
               OnUpdateItem="UpdateClaimAsync" OnDeleteItem="RemoveClaimAsync" />

    <br />
    <br />

}

