<MudTextField Label="Role Name" HelperText="Required" Disabled="Model.Exists"
                      @bind-Value="Model.RoleName" For="@(() => Model.RoleName)" />
<div class="d-flex flex-wrap">
    <MudText Typo="Typo.h6" Class="mt-2">Claims</MudText>
    <MudIconButton Icon="@Icons.Material.Outlined.AddCircleOutline" Size="Size.Medium"
                   @onclick="AddClaimAsync" Color="Color.Primary"></MudIconButton>
</div>
<EditableCollection TItem="ClaimViewModel" TValue="ClaimViewModel" ItemSize="3" OnDeleteItem="@RemoveClaimAsync"
                    Items="(Model.Claims ?? Enumerable.Empty<ClaimViewModel>())">
    <ItemTemplate Context="item">
        <MudText Color="Color.Info" Typo="Typo.subtitle1">@item.Type : @item.Value</MudText>
    </ItemTemplate>  
</EditableCollection>